name: Build on Pull Request

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code and submodules
        uses: actions/checkout@v3
        with:
          submodules: recursive  # fetch submodules

      - name: Ensure submodules are updated
        run: |
            sudo apt-get install g++ clang libelf-dev libc6-dev-i386 libdw-dev
            git submodule update --init --recursive

      - name: Run Makefile build
        run: make all
